# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings (optional)
.vscode/

# macOS and Windows files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Python environment files
*.env
*.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# PyInstaller
build/
dist/
*.spec
